<h2> Hi <%= @user.username %> </h2>

<ul>
<li><a href="/reviews/new">Write a new review</a></li>
<li><a href="/">Back to main page</a></li>
<li><%= link_to "Log Out", logout_path, method: :delete %></li>

</ul>
